
element.style {
}
section#articles {
    background: #181c1f;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
body {
    font-family: "Lato", sans-serif;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*, *:before, *:after {
    box-sizing: inherit;
}